-# A wrapper div for the ecf note scrutiny partial to allow nested js to work properly.
.wrapper-div
  = form.error_notification
  = form.input :user_id, as: :hidden, input_html: {value: current_user.id}
  = form.input :description, as: :string
  = form.input :role, as: :hidden, input_html: {value: 3}
  %p
    %i Please remember that notes submitted here will be visible to the whole scrutiny panel.
  = form.button :submit, value: "Submit note", class: "btn btn-outline-primary btn-sm"
  = link_to_remove_nested(form, link_text: "Remove", fields_wrapper_selector: '.wrapper-div',link_classes: "btn btn-outline-danger btn-sm ml-5")

