-# frozen_string_literal: true
%div
  = simple_form_for(@meeting) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :title, hint: 'e.g. COM April Scrutiny Panel Meeting'
      = f.input :time
      = f.input :attendees, hint: 'Attendee emails separated by commas'
    .mx-auto.mt-5.text-center.container
      .form-actions.btn-primary.btn-lg
        = f.button :submit, class: 'btn whiten'
