%p Outcomes for meetings can be access here: 
=link_to 'Outcomes', outcomes_path

%h1 Meeting Schedule

%table.table.table-hover
  %thead
    %tr
      %th Title
      %th ID
      %th Time
      %th Attendees
      %th
      %th
      %th
      %th

  %tbody

    - @meetings.each do |meeting|
      %tr
        %td= meeting.title
        %td= meeting.id
        %td= meeting.time
        %td= meeting.attendees
        %td= link_to 'Show', meeting
        %td= link_to 'Edit', edit_meeting_path(meeting)
        %td= link_to 'Destroy', meeting, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= link_to "Email Attendees", :controller => "emails", :action => "meeting_email", :emails => meeting.attendees

%br

= link_to 'New Meeting', new_meeting_path, :class => 'btn btn-primary'