%h1.mt-4.mb-4 Meeting Schedule

-if @meetings.empty?
  %p.alert.alert-primary No meeting schedule found.
-if ! @meetings.empty?
  %h3.mt-4.mb-4 Upcoming Meetings
  .row.justify-content-center
    .login-wrap.py-5
      - if @upcoming_meetings.empty?
        %i There are no upcoming meetings.
      - else
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th Title
                %th ID
                %th Time
                %th Attendees
            %tbody
              - @upcoming_meetings.each do |meeting|
                %tr
                  %td= meeting.title
                  %td= meeting.id
                  %td= meeting.time
                  %td= meeting.attendees
                  %td= link_to 'Show', meeting
                  - if can? :update, Meeting
                    %td= link_to 'Edit', edit_meeting_path(meeting)
                  - if can? :destroy, Meeting
                    %td= link_to 'Destroy', meeting, :method => :delete, :data => { :confirm => 'Are you sure?' }
                  %td= link_to "Email Attendees", :controller => "emails", :action => "meeting_email", :emails => meeting.attendees
            %br
  - if can? :create, Meeting
    .mt-5
    = link_to 'New Meeting', new_meeting_path, :class => 'btn btn-primary'
  %h3.mt-4.mb-4 Past Meetings
  .login-wrap.py-5
    - if @past_meetings.empty?
      %i There are no past meetings.
    - else
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th Title
              %th ID
              %th Time
              %th Attendees
          %tbody
            - @past_meetings.each do |meeting|
              %tr
                %td= meeting.title
                %td= meeting.id
                %td= meeting.time
                %td= meeting.attendees
                %td= link_to 'Show', meeting
                - if can? :update, Meeting
                  %td= link_to 'Edit', edit_meeting_path(meeting)
                - if can? :destroy, Meeting
                  %td= link_to 'Destroy', meeting, :method => :delete, :data => { :confirm => 'Are you sure?' }
                %td= link_to "Email Attendees", :controller => "emails", :action => "meeting_email", :emails => meeting.attendees

%p
  %br
  %i The types of outcomes for ECFs available during meetings can be access here:
  %br
  =link_to 'Outcomes', outcomes_path, :class => 'btn btn-outline-primary'

