%p#notice= notice
%p
  %b PDF export date: 
  = Time.zone.now
%p  
  %b Meeeting ID:
  = @meeting.id 

%p
  %b Title: 
  = @meeting.title
%p
  %b Meeting Time: 
  = @meeting.time

%p
  %b Attendees: 
  = @meeting.attendees

- if !@meeting.meeting_notes.empty?
  %h3 Meeting Notes
  .table-responsive
    %table.table
      %thead
        %tr
          %th{:scope => "col"} Student name
          %th{:scope => "col"} Description
      %tbody
        - @meeting.meeting_notes.each do |meeting_note|
          %tr
            %td
              = meeting_note.name
            %td
              = meeting_note.description

%h3 ECFs
.table-responsive
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Status
        %th{:scope => "col"} Date Submitted
        %th{:scope => "col"} Full Name
        %th{:scope => "col"} Email
        %th{:scope => "col"} Username
        %th{:scope => "col"} Department
        %th{:scope => "col"} Affected Units
        %th{:scope => "col"} Outcomes
    %tbody
      - @agendas.each do |agenda|
        %tr
          %td= agenda.ecf.status
          %td= agenda.ecf.created_at.strftime("%Y-%m-%d")
          %td #{agenda.ecf.user.givenname} #{agenda.ecf.user.sn}
          %td= agenda.ecf.user.mail
          %td= agenda.ecf.user.uid
          %td= agenda.ecf.user.ou
          %td
            - agenda.ecf.affected_units.limit(5).each do |affected_unit|
              %b
                = affected_unit.unit_code
              = "#{affected_unit.assessment_type}:"
              = affected_unit.requested_action.split(' ')[0]
              %br
          %td
            - agenda.decisions.each do |decision|
              %b= decision.module_code
              = decision.assessment_type
              %b{ style: 'color: dodgerblue;'}= decision.requested_action
              %b= decision.outcome.short_name
              = decision.outcome.name
              %br
              %br
