%p#notice= notice

%p
  %b Title:
  = @meeting.title
%p
  %b Time:
  = @meeting.time

%p
  %b Attendees:
  = @meeting.attendees

- @ecfs.each do |ecf|
  %p
    %b ECF id:
    = ecf.id
  %p
    %b ECF details:
    = ecf.details  

= link_to 'Edit', edit_meeting_path(@meeting)
\|
= link_to 'Back', meetings_path
