-# A wrapper for the decisions_fields partial to allow nested js to work properly.
.wrapper-div
  .login-wrap.py-5
    = form.input :module_code, as: :string ,class:"list-group-item "
    = form.input :assessment_type, as: :string ,class:"list-group-item"
    = form.input :requested_action, :collection => ["NA - Not assessed (Another attempt permitted without capping grade)", "NP - No penalty for late submission", "DEX - Deadline Extension", "AU - Authorized Absence"] ,class:"list-group-item"
    = form.input :extension_date, as: :date ,class:"list-group-item"
    = form.input :outcome_id, :collection => Outcome.all, :label_method => lambda { |outcome| "#{outcome.short_name}: #{outcome.name}"}
    = link_to_remove_nested(form, link_text: "Remove", fields_wrapper_selector: '.wrapper-div',link_classes: "cursor_hover btn btn-outline-danger ")
-# = unit_f.button :submit
