The following ecf will be discussed at the next scrutiny panel meeting now being held on #{@agenda.meeting.time}
=============================================================================================================

ECF Details:

Name: #{@agenda.ecf.user.givenname} #{@agenda.ecf.user.sn}
Submitted at: #{@agenda.ecf.created_at}
Details: #{@agenda.ecf.details}

