The following ECF has been removed from next scrutiny panel meetings' agenda which is being held on #{@agenda.meeting.time}. You will be notified when your ECF is added to the next scrutiny panel meetings' agenda.
=============================================================================================================

ECF Details:

Name: #{@agenda.ecf.user.givenname} #{@agenda.ecf.user.sn}
Submitted at: #{@agenda.ecf.created_at}
Details: #{@agenda.ecf.details}

