%body
%p
  The following ECF will be discussed at the next scrutiny panel meeting being held on #{@agenda.meeting.time}
  %br --------------------------------------------------------------------------------------------------------

%p
  Name: #{@agenda.ecf.user.givenname} #{@agenda.ecf.user.sn}
  Submitted at: #{@agenda.ecf.created_at}
  Details: #{@agenda.ecf.details}
