%body
%p
  Module Leader has removed a note from the following ECF:
  %br ----------------------------------------------------

%p
-#   Module Leader: #{current_user.givenname} #{current_user.sn}
%p
  Student Name: #{@ecf.user.givenname} #{@ecf.user.sn}
  ECF Submitted at: #{@ecf.created_at}
  ECF Details: #{@ecf.details}