%h1 Showing user
.row.justify-content-center
  .login-wrap
    %p
      %p
        %b User ID:
        %br
        = @user.uid

      %p
        %b Email:
        %br
        = @user.mail

      %p
        %b Name:
        %br
        #{@user.givenname} #{@user.sn}

      %p
        %b Department:
        %br
        = @user.ou

      %p
        %b Group:
        %br
        - if @user.dn.include?("Student")
          = 'Students'
        - else
          = 'Staff'

      %p
        %b Role:
        %br

        - if @user.role.include?("_")
          %td= @user.role.sub("_", " ")
        - else
          %td= @user.role


    %p
      %b Modules
      %br
      -if @user_modules.size == 0
        = 'This user has no modules'
      -else
        - @user_modules.each do |user_module|
          %p
            %b Module:
            = user_module.module_code
    -# - if @user.student?
    %p= link_to 'Show all ECFs', showECFs_user_path(@user), :class => 'btn btn-primary'
