= javascript_pack_tag "new_ecf"
= simple_form_for(@ecf, :defaults => { :input_html => { :class => "cursor_hover" } }) do |f|

  = f.error_notification

  = f.input :date, as: :date
  = f.input :is_serious_short_term, as: :boolean
  = f.input :is_deterioration_of_disability, as: :boolean
  = f.input :is_bereavement, as: :boolean
  = f.input :is_significant_adverse_personal, as: :boolean
  = f.input :is_other_exceptional_factors, as: :boolean
  = f.input :is_frequent_absence, as: :boolean

  = f.input :details, as: :text
  = f.input :start_of_circumstances, as: :date
  = f.input :end_of_circumstances, as: :date
  = f.input :is_ongoing, as: :boolean

  = link_to_add_nested(f, :affected_units, '#affected-units',link_classes: "btn-primary btn-lg cursor_hover active no_underline",partial: 'affected_units/affected_unit_fields')

  #affected-units
    = f.fields_for :affected_units do |affected_unit_f| 
      = render 'affected_units/affected_unit_fields', form: affected_unit_f

  %div.text-center.container.mt-5
    %div.row
      %div.mx-auto.col-8
        %div.row
          %div.col.align-self-start
            = f.label :upload_medical_evidence, class:"h5"
          %div.col.align-self-start
            = f.file_field :upload_medical_evidence, multiple: true, accept: 'application/pdf'
            = f.object.errors[:upload_medical_evidence].first
    %div.mx-auto.mt-5
      - @ecf.upload_medical_evidence.each do |medical_evidence|

        = link_to medical_evidence.filename, medical_evidence, target: :_blank

        -# - @ecf.errors.each do |error|
        -#   %p
        -#   = error.message

      .form-actions.btn-primary.btn-lg.btn-block.btn_effect_beat
        = f.button :submit , class:"btn-color"

      -#= form_with model: @ecf do |a_f|
      -#  = a_f.date_field :date_from

