= javascript_pack_tag "new_ecf"
.row.justify-content-center
  .login-wrap.py-5
    %h4 Information
    %p
    This form is for students submitting evidence of medical or personal circumstances that they wish to be considered in relation to:
    %ul
      %li Assessments, including examinations and coursework
      %li None or late submission of coursework
      %li Absence from class/study of more than 7 calendar days

    Please read the guidance on extenuating circumstances before completing this form: 
    =link_to 'www.shef.ac.uk/ssid/forms/circsnotes', 'https://www.shef.ac.uk/ssid/forms/circsnotes'
    %br If you need further guidance, please talk to departmental staff, the Student Advice Centre or SSiD.

    %br
    = simple_form_for(@ecf, :defaults => { :input_html => { :class => "cursor_hover" } }) do |f|

      = f.error_notification
      = f.input :user_id, as: :hidden, input_html: {value: current_user.id}

      %h4 Details of Circumstances
      %ul
        %b Please check the relevant types of your extenuating circumstances:
        %p
          = f.input :is_serious_short_term, label: '<b>* A.</b> Serious short term illness/accident/hospitalization resulting in absence for more than 7 calendar days or affecting assessment.'.html_safe
          = f.input :is_deterioration_of_disability, as: :boolean, label: '<b>B.</b> A deterioration or fluctuation of a disability/long term health condition, resulting in absence of more than 7 calendar days and/or affecting assessment.'.html_safe
          = f.input :is_bereavement, as: :boolean, label: '<b>* C:</b> Bereavement'.html_safe
          = f.input :is_significant_adverse_personal, as: :boolean, label: '<b>* D:</b> Significant adverse personal/family circumstances.'.html_safe
          = f.input :is_other_exceptional_factors, as: :boolean, label: '<b>* E:</b> Other significant exceptional factors (including non-medical circumstances)'.html_safe
          = f.input :is_frequent_absence, as: :boolean, label: '<b>F:</b> Frequent absence of less than 7 calendar days where no assessment is involved'.html_safe
          %b *
          %i Requires supporting evidence
        %br
        %p
          %b Please provide details of your circumstances:
          = f.input :details, as: :text
        
        %p
          %br
          %b Are your circumstances ongoing?
          = f.input :is_ongoing, as: :boolean, label: 'Circumstances are ongoing'

          %br
          %b Duration of circumstances:
          %br If your circumstances are not ongoing, please enter the duration of circumstances:
          = f.input :start_of_circumstances, as: :date
          #end_date
          = f.input :end_of_circumstances, as: :date

          %br
          %b Do you wish to keep your circumstances confidential?
          .text-note
            Checking the following box will mean your details, including medical evidence, are only visible to the scrutiny panel chair.
          = f.input :highly_sensitive, as: :boolean, label: 'I wish to keep my circumstances confidential'
          %br

      %h4 Supporting Evidence
      %ul
        %p
          %div.col.align-self-start
            = f.file_field :upload_medical_evidence, multiple: true, accept: 'application/pdf'
          %div#typeWarning{:style => "display:none"}
            = f.object.errors[:upload_medical_evidence].first
          .text-note
            Files must be in the pdf format. You may select multiple files at once in your file explorer.

      %br
      %h4 Units Affected by Extenuating Circumstances
      %ul
        %p
          %p
            %b What units are affected and what action are you requesting as a result of these circumstances?

        .table-responsive
        %table.table
          %thead
            %tr
              -# ADD TOOLTIPS HERE?
              %th{:scope => "col"} Unit Code
              %th{:scope => "col"} Assessment Type
              %th{:scope => "col"} Date affected from:
              %th{:scope => "col"} Date affected to:
              %th{:scope => "col"} Requested Action:
              %th{:scope => "col"}
          %tbody#affected-units
            %tr
              %td
                .text-note e.g. COM1001
              %td 
                .text-note e.g. Assignment, exam, quiz, lab 
              %td  
              %td 
              %td 
              %td
            - if !@ecf.affected_units.empty?
              = f.fields_for :affected_units do |affected_unit_f|
                = render 'affected_units/affected_unit_fields', form: affected_unit_f

            
        
        = link_to_add_nested(f, :affected_units, '#affected-units', link_classes: 'btn btn-primary btn-sm', partial: 'affected_units/affected_unit_fields', link_text: ' + Add an affected unit')

      %div.mx-auto.mt-5
        .form-actions.btn-primary.btn-lg.btn-block
          = f.button :submit, 'Submit Extenuating Circumstances Form', class:"btn-color"

