= simple_form_for(@ecf) do |f|

  = f.input :date, as: :date
  = f.input :is_serious_short_term, as: :boolean
  = f.input :is_deterioration_of_disability, as: :boolean
  = f.input :is_bereavement, as: :boolean
  = f.input :is_significant_adverse_personal, as: :boolean
  = f.input :is_other_exceptional_factors, as: :boolean
  = f.input :is_frequent_absence, as: :boolean

  = f.input :details, as: :text
  = f.input :start_of_circumstances, as: :date
  = f.input :end_of_circumstances, as: :date
  = f.input :is_ongoing, as: :boolean

  %strong [Sorry the affected_unit entry is massive. Need to change CSS or go from simple_form_for to form_for?]
  Still needs a button to remove a given 'affected_unit' entry (may be front end, may be outside ability of simple_form_for)
  = f.fields_for :affected_units, AffectedUnit.new do |unit_f|
    = unit_f.input :unit_code, as: :text
    = unit_f.input :assessment_type, as: :text
    = unit_f.input :date_from, as: :date
    = unit_f.input :date_to, as: :date
    = unit_f.input :requested_action, as: :text

    = unit_f.button :submit

  .form-actions
    = f.button :submit