.form-group
  %b Details:

  %p
    %textarea#exampleFormControlTextarea1.form-control.rounded-0{:readonly => "readonly", :rows => "10"}= @ecf.details

  %p
    %b Duration of circumstances:
    from
    = @ecf.start_of_circumstances
    to
    = @ecf.end_of_circumstances

  %h4 Supporting Evidence
  - if @ecf.upload_medical_evidence.size == 0
    %p.alert.alert-primary There is no uploaded evidence file!
  - else
    - @ecf.upload_medical_evidence.each do |medical_evidence|
      %p

      = link_to medical_evidence.filename, medical_evidence, target: :_blank ,class:"btn btn-outline-primary"
      = link_to "Delete attachment", purge_attachment_path(medical_evidence), method: :delete ,class: "btn btn-outline-danger"

  - if @ecf.status == "Complete" 
    %p This ECF is marked as Complete. Please look at the decisions below.
    %table.table
      %thead
        %tr
          %th{:scope => "col"} Module Code
          %th{:scope => "col"} Requested Action
          %th{:scope => "col"} Outcome
          %th{:scope => "col"} Extension Date
      %tbody
        - @decisions_ecfs.each do | code, decision |
          %tr
            %td= code
            %td= decision.requested_action
            %td= decision.outcome&.name
            - if decision.requested_action == "DEX - Deadline Extension" or decision.requested_action == "NP - No penalty for late submission"
              %td= decision.extension_date
            - else
              %td