%h1 Edit [staff]
Not complete cause I'm bad at rails routing. Should just show fields but allow evidence and notes to be edited.

%p
  %b Date:
  = @ecf.date

%p
  %b Details:
  = @ecf.details

%p
  %b UserID:
  = @ecf.user_id

%p
  %b Type(s) of Circumstances: 
  %br
  - if @ecf.is_serious_short_term 
    Serious short term illness / accident / hospitalisation
    %br

  - if @ecf.is_deterioration_of_disability
    Deterioration or fluctuation of a disability / long term health condition
    %br

  - if @ecf.is_bereavement
    Bereavement
    %br

  - if @ecf.is_significant_adverse_personal
    Significant adverse personal / family circumstances.
    %br

  - if @ecf.is_other_exceptional_factors
    Other exceptional factors
    %br

  - if @ecf.is_frequent_absence
    Frequent absence of less than 7 calendar days
    %br

%p
  Put duration here.

%p 
  %b Supporting evidence
  - @ecf.upload_medical_evidence.each do |medical_evidence|
    %p
    = link_to medical_evidence.filename, medical_evidence, target: :_blank
    = link_to "Delete attachment", purge_attachment_path(medical_evidence), method: :delete

%p
  = simple_form_for(@ecf, :defaults => { :input_html => { :class => "cursor_hover" } }) do |f|
    Add supporting evidence. (Uploaded evidence will be visible to the student.)
    %br
    = f.file_field :upload_medical_evidence, multiple: true, accept: 'application/pdf'
    %br
    = f.button :submit, value: 'Submit evidence'
    
%p
  %h4 Student notes
  = simple_form_for(@ecf, :defaults => { :input_html => { :class => "cursor_hover" } }) do |f|
    = link_to_add_nested(f, :ecf_notes, '#ecf-notes-student', partial: 'ecf_notes/ecf_note_student_fields', link_text: 'Add a Student note.')

    #ecf-notes-student
  
  - if @ecf_notes_grouped[1].nil?
    %i There are currently no student notes.
  - else 
    - @ecf_notes_grouped[1].each do |ecf_note|
      %p 
        %b Note: 
        = ecf_note.description
        %br
          %i
            %b Submitted by:
            = ecf_note.user.givenname
            = ecf_note.user.sn
            %b Note created at:
            = ecf_note.created_at

%p
  %h4 Module leader notes
  = simple_form_for(@ecf, :defaults => { :input_html => { :class => "cursor_hover" } }) do |f|
    = link_to_add_nested(f, :ecf_notes, '#ecf-notes-module-leader', partial: 'ecf_notes/ecf_note_module_leader_fields', link_text: 'Add a Module Leader note.')

    #ecf-notes-module-leader

  - if @ecf_notes_grouped[2].nil?
    %i There are currently no module leader notes.
  - else 
    - @ecf_notes_grouped[2].each do |ecf_note|
      %p 
        %b Note: 
        = ecf_note.description
        %br
          %i
            %b Submitted by:
            = ecf_note.user.givenname
            = ecf_note.user.sn
            %b Note created at:
            = ecf_note.created_at

%p
  %h4 Scrutiny panel notes
  = simple_form_for(@ecf, :defaults => { :input_html => { :class => "cursor_hover" } }) do |f|
    = link_to_add_nested(f, :ecf_notes, '#ecf-notes-scrutiny', partial: 'ecf_notes/ecf_note_scrutiny_fields', link_text: 'Add a Scrutiny Panel note.')

    #ecf-notes-scrutiny

  - if @ecf_notes_grouped[3].nil?
    %i There are currently no scrutiny panel notes.
  - else 
    - @ecf_notes_grouped[3].each do |ecf_note|
      %p 
        %b Note: 
        = ecf_note.description
        %br
          %i
            %b Submitted by:
            = ecf_note.user.givenname
            = ecf_note.user.sn
            %b Note created at:
            = ecf_note.created_at

%p
  %h4 Scrutiny chair notes
  = simple_form_for(@ecf, :defaults => { :input_html => { :class => "cursor_hover" } }) do |f|
    = link_to_add_nested(f, :ecf_notes, '#ecf-notes-admin', partial: 'ecf_notes/ecf_note_admin_fields', link_text: 'Add a Scrutiny Chair note.')

    #ecf-notes-admin

  - if @ecf_notes_grouped[4].nil?
    %i There are currently no module leader notes.
  - else 
    - @ecf_notes_grouped[4].each do |ecf_note|
      %p 
        %b Note: 
        = ecf_note.description
        %br
          %i
            %b Submitted by:
            = ecf_note.user.givenname
            = ecf_note.user.sn
            %b Note created at:
            = ecf_note.created_at