:javascript
  window.onload=function(){
    document.getElementById("add_decision").style.visibility = "hidden";
    document.getElementsByClassName(" vanilla-nested-add ")[0].onclick = function () {
      document.getElementById("add_decision").style.visibility = "visible";
    }

    var text_area = document.getElementsByClassName("exampleFormControlTextarea1");
    for(var i = 0; i < text_area.length; i++){
      text_area.item(i).onfocus = function () {
        this.setAttribute('style', 'height: 200px !important') // for better input
        this.style.borderStyle = "outset"
      }
      text_area.item(i).onblur = function () {
        this.style.borderStyle = "inset"
        this.setAttribute('style', 'height: 100px !important') // for better input
      }
    }

  }
%p
  %b Type(s) of Circumstances: 
  %br
  - if @ecf.is_serious_short_term 
    Serious short term illness / accident / hospitalisation
    %br
  - if @ecf.is_deterioration_of_disability
    Deterioration or fluctuation of a disability / long term health condition
    %br
  - if @ecf.is_bereavement
    Bereavement
    %br
  - if @ecf.is_significant_adverse_personal
    Significant adverse personal / family circumstances.
    %br
  - if @ecf.is_other_exceptional_factors
    Other exceptional factors
    %br
  - if @ecf.is_frequent_absence
    Frequent absence of less than 7 calendar days
    %br

%p
  %b Duration of Circumstances:
  %br
  = @ecf.start_of_circumstances
  %i to
  = @ecf.end_of_circumstances

%p
  %b Details of Circumstances:
  %textarea.exampleFormControlTextarea1.form-control.rounded-0{:readonly => "readonly", :rows => "10"}= @ecf.details

%br
%h4 Supporting evidence
%p 
  - @ecf.upload_medical_evidence.each do |medical_evidence|
    %p
      #uploaded_file
      = link_to medical_evidence.filename, medical_evidence, target: :_blank ,class:"btn btn-outline-primary"
      = link_to "Delete attachment", purge_attachment_path(medical_evidence), method: :delete,class: "btn btn-outline-danger"

%p
  = simple_form_for(@ecf, :url => update_persist_ecf_path(@ecf), :defaults => { :input_html => { :class => "cursor_hover" } }) do |f|
    %b Add supporting evidence:
    %br
    = f.file_field :upload_medical_evidence, multiple: true, accept: 'application/pdf'
    %br
    .text-note (Note: uploaded evidence will be visible to the student.)
    #update_evi_btn= f.button :submit, value: 'Update evidence',class: 'btn btn-outline-primary btn-sm '

%p
  %br
  %h4 Outcomes:
  - @ecf.agendas.each do |agenda, index|
    %p
      %b= "Decisions for #{agenda.meeting.title} [Meeting # #{agenda.meeting.id}, #{agenda.meeting.time}]:"
      - if agenda.decisions.empty?
        .text-note There are currently no decisions for this meeting.
      - else
        .nested-wrapper
          %table.table.table-responsive.mt-5
            %thead
              %tr
                %th{:scope => "col"} Module Code
                %th{:scope => "col"} Assessment Type
                %th{:scope => "col"} Requested Action
                %th{:scope => "col"} Extension date
                %th{:scope => "col"} Outcome
            %tbody
              - agenda.decisions.each do |decision|
                %tr
                  %th{:scope => "row"}
                    = decision.module_code
                  %td
                    = decision.assessment_type
                  %td.overflow-auto
                    = decision.requested_action
                  
                  - if decision.requested_action.include?("DEX")
                    %td.overflow-auto= decision.extension_date
                  - else
                    %td.overflow-auto= 'N/A'
                  %td.overflow-auto
                    = decision.outcome&.name