%html{:lang => "en"}
  %head
!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Login
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap", :rel => "stylesheet"}/
    = javascript_pack_tag "ecf_preview"
  %body-1
    %section.ftco-section


      .container.animate__animated.animate__fadeIn
        .row.justify-content-center
          .col-md-6.text-center.mb-5
            %h2.heading-section Listing ECFs

            
        .row.justify-content-center
          .ecf-preview
            .row
              .col
                %p.txt-centre#col1
                  There are
                  %span#num1 #{@ecfs.size}
                  ecfs.


              - if can? :search, Ecf
                .container
                  = search_form_for @q do |f|
                    .row
                      .col-sm
                        = f.label "Ecf status"
                        = f.search_field :status_cont
                      .col-sm
                        = f.label "First / Last name"
                        = f.search_field :user_givenname_or_user_sn_cont
                      .col-sm
                        = f.label "Student Email"
                        = f.search_field :user_email_cont
                      .col-sm
                        = f.submit "Search"


            .row.justify-content-center
              .col-md-6.text-center.mb-2.mt-4
                %br

                %a.button.btn.btn-outline-primary.btn-sm{:href => new_ecfs_path} Create New ECF
            %table.table
            -if @ecfs.empty?
              %p.alert.alert-primary No result found ! please check your search criteria.
            -else
              %table.table
                %thead
                  %tr
                    %th{:scope => "col"} Status
                    %th{:scope => "col"} Date Submitted
                    %th{:scope => "col"} Student Full Name
                    %th{:scope => "col"} Student Email
                    %th{:scope => "col"} Student Username
                    %th{:scope => "col"} Student Department
                %tbody
                  - @ecfs.each do |ecf|
                    %tr
                      %td= ecf.status
                      %td= ecf.date
                      %td #{ecf.user.givenname} #{ecf.user.sn}
                      %td= ecf.user.mail
                      %td= ecf.user.uid
                      %td= ecf.user.ou
                      %td= link_to 'Show', ecf
                      %td= link_to 'Edit', edit_ecf_path(ecf)
                      - if(params.has_key?(:meeting_id))
                        %td= link_to "Add to meeting ##{params[:meeting_id]}", agendas_path(:ecf_id => ecf.id, :meeting_id => params[:meeting_id]), :method => :post


