= javascript_pack_tag "show_ecf"


%h4 Student Details
.table-responsive
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Username:
        %th{:scope => "col"} First Name:
        %th{:scope => "col"} Last Name:
        %th{:scope => "col"} Email
        %th{:scope => "col"} Department:
    %tbody
      %tr
        %th{:scope => "row"}
          = @ecf.user.uid

        %td= @ecf.user.givenname
        %td= @ecf.user.sn
        %td= @ecf.user.mail
        %td= @ecf.user.ou

%p
  %b Date:
  = @ecf.date

.form-group
  %b Details:
  %textarea#exampleFormControlTextarea1.form-control.rounded-0{:readonly => "readonly", :rows => "10"}= @ecf.details

  - if current_user.role == "scrutiny_chair"
    %p  <strong>Uploaded Medical Evidence:</strong>
    - if @ecf.upload_medical_evidence.size == 0
      %p.alert.alert-primary There is no uploaded evidence file!
    - else
      - @ecf.upload_medical_evidence.each do |medical_evidence|
        %p

        = link_to medical_evidence.filename, medical_evidence, target: :_blank ,class:"btn btn-outline-primary"
        = link_to "Delete attachment", purge_attachment_path(medical_evidence), method: :delete ,class: "btn btn-outline-danger"

    %p
      %h4 Affected Units:
      - @affected_units.each do |affected_unit|
        %p
          .form-group
          %b Assessment type:
          = affected_unit.assessment_type
          .form-group
          %b Unit code:
          = affected_unit.unit_code
          .form-group
          %b Requested action:
          = affected_unit.requested_action
          .form-group
          -#%b ECF ID:
            = affected_unit.ecf_id
    %p
      %h4 ECF details:
      - @affected_units.each do |affected_unit|
        %p
          %b date from:
          = affected_unit.date_from
          .form-group
          %b date to:
          = affected_unit.date_to
          -# todo waiting for further controller method to read from ecfs table
          .form-group
          %b#is_ongoing{:hidden => "hidden"}
            = @ecf.is_ongoing
          .form-group
          %b#is_sst{:hidden => "hidden"}
            = @ecf.is_serious_short_term
          .form-group
          %b#is_dd{:hidden => "hidden"}
            = @ecf.is_deterioration_of_disability
          .form-group
          %b#is_bereavement{:hidden => "hidden"}
            = @ecf.is_bereavement
          .form-group
          %b#is_sap{:hidden => "hidden"}
            = @ecf.is_significant_adverse_personal
          .form-group
          %b#is_oef{:hidden => "hidden"}
            = @ecf.is_other_exceptional_factors
          .form-group
          %b#is_fa{:hidden => "hidden"}
            = @ecf.is_frequent_absence
          

    - if @ecf.status == "Complete" 
      %p The ECF is marked as Complete. Please look at the decisions below.
      %table.table
      %thead
        %tr
          %th{:scope => "col"} Module:
          %th{:scope => "col"} Code:
          %th{:scope => "col"} Requested Action:
          %th{:scope => "col"} Extension Date:
      %tbody
        - @decisions_ecfs.each do | code, value |
          %tr
            %td= code
            %td= value[0]
            %td= value[1]
            %td= value[2].nil? ? "NA" : value[2]






