%strong VERY RUDIMENTARY ECF SHOW. Just testing M:1 can be pulled.

%p
  %b Date:
  = @ecf.date
  
  %b Details:
  = @ecf.details

  %b Uploaded Medical Evidence:
  = link_to 'View file', @ecf.upload_medical_evidence, target: :_blank if @ecf.upload_medical_evidence.attached?

%p
  %b Affected Units:
  - @affected_units.each do |affected_unit|
    %p
      %b Assessment type:
      = affected_unit.assessment_type
      %b Requested action:
      = affected_unit.requested_action 
      %b ECF ID:
      = affected_unit.ecf_id