= javascript_pack_tag "show_ecf"


%h4 Student Details
.table-responsive
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Username:
        %th{:scope => "col"} First Name:
        %th{:scope => "col"} Last Name:
        %th{:scope => "col"} Email
        %th{:scope => "col"} Department:
    %tbody
      %tr
        %th{:scope => "row"}
          = @ecf.user.uid

        %td= @ecf.user.givenname
        %td= @ecf.user.sn
        %td= @ecf.user.mail
        %td= @ecf.user.ou

%p
  %b Date:
  = @ecf.date

- if @ecf.highly_sensitive
  - if current_user.role == "student" || current_user.role == "admin"
    = render "sensitive_info"
  - else 
    
    %p Ecf has highly sensitive information, which can only be viewed by Scrutiny chair.
- else
  = render "sensitive_info"





