%strong VERY RUDIMENTARY ECF SHOW. Just testing M:1 can be pulled.

%p
  %b Date:
  = @ecf.date
  
  %b Details:
  = @ecf.details

  %p  <strong>Uploaded Medical Evidence:</strong>
  - if @ecf.upload_medical_evidence.size == 0
    %body None 
  - else
    - @ecf.upload_medical_evidence.each do |medical_evidence|
      %p
      = link_to medical_evidence.filename, medical_evidence, target: :_blank 

%p
  %b Affected Units:
  - @affected_units.each do |affected_unit|
    %p
      %b Assessment type:
      = affected_unit.assessment_type
      %b Requested action:
      = affected_unit.requested_action 
      %b ECF ID:
      = affected_unit.ecf_id