

%tr.wrapper-div
  %td
    = form.input :unit_code, as: :string, label: false
  %td
    = form.input :assessment_type, as: :string, label: false
  %td
    = form.input :date_from, as: :date, label: false, html5: true
  %td
    = form.input :date_to, as: :date, label: false, html5: true
  %td
    = form.input :requested_action, :collection => ["NA  - Not assessed (Another attempt permitted without capping grade)", "NP  - No penalty for late submission","DEX - Deadline Extension", "AU  - Authorized Absence"], label: false
  %td
    = link_to_remove_nested(form, link_text: "Remove", fields_wrapper_selector: '.wrapper-div',link_classes: "cursor_hover btn btn-outline-danger ")



-# %td
-#   = form.input :unit_code, as: :string, class:"list-group-item ", label: false
-# %td
-#   = form.input :assessment_type, as: :string ,class:"list-group-item", label: false
-# %td
-#   = form.input :date_from, as: :date ,class:"list-group-item", label: false, html5: true
-# %td
-#   = form.input :date_to, as: :date ,class:"list-group-item", label: false, html5: true
-# %td
-#   = form.input :requested_action, :collection => ["NA  - Not assessed (Another attempt permitted without capping grade)", "NP  - No penalty for late submission","DEX - Deadline Extension", "AU  - Authorized Absence"] ,class:"list-group-item", label: false
-# %td
-#   = link_to_remove_nested(form, link_text: "Remove", fields_wrapper_selector: '.wrapper-div',link_classes: "cursor_hover btn btn-outline-danger ")

