%p#notice= notice

%p
  %b Name:
  = @outcome.name
%p
  %b Short name:
  = @outcome.short_name
%p
  %b Description:
  = @outcome.description

= link_to 'Edit', edit_outcome_path(@outcome),class: 'btn btn-outline-primary btn-sm'
\|
= link_to 'Back', outcomes_path,class: 'btn btn-outline-info btn-sm'
